
<form >
  <label>
    Nom d'utilisateur:
    <input type="text" [formControl]="user.username" />
  </label>
  <label>
    Email:
    <input type="email" [formControl]="user.email" />
  </label>
  <label>
    Mot de passe:
    <input type="password" [formControl]="user.password" />
  </label>
  <label >
    Adresse:
    <input
      type="text"
      [formControl]="user.street"
      placeholder="n° voie nom de la voie"
    />
    <input type="text" [formControl]="user.postalCode" placeholder="code postal" />
    <input type="text" [formControl]="user.city" placeholder="ville" />
  </label>
  <button type="button" (click)="signUp()">
   S'inscrire
  </button>
</form>
<section *ngIf="display">
<div>{{ user.username.value }}</div>
<div>{{ user.email.value }}</div>
<div>{{ user.password.value }}</div>
<span>
  {{ user.street.value }}
  {{ user.postalCode.value }}
  {{ user.city.value }}</span
>
</section>